#pendingOrders {
  margin-top: 25px;
}
#pendingOrders table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#pendingOrders td,
#pendingOrders th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#pendingOrders .dark tr:nth-child(even) {
  background-color: #e3ebee59;
  color: white;
}

#pendingOrders .light tr:nth-child(even) {
  background-color: #dddddd;
  color: black;
}
