.app-available {
  display: flex;
  gap: 20px;
}

span.apple-icon {
  padding: 10px 0px;
}

span.apple-icon svg {
  width: 60px;
  height: 60px;
}

.banner-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  overflow: hidden;
  height: 300px;
}

.card-img-top {
  position: relative;
  transition: 500ms ease 0s;
}

.card-img-top:hover {
  transform: translateY(-10px);
}

.details-app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* large device form width */
@media (min-width: 768px) {
  .form-width {
    display: grid;
    justify-content: center;
  }
}

/* small device banner-image hide */
@media (max-width: 768px) {

  .banner-images,
  .delivery-logos {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .sm-none {
    display: none;
  }
}