@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.app-available {
  display: flex;
  gap: 20px;
}

span.apple-icon {
  padding: 10px 0px;
}

span.apple-icon svg {
  width: 60px;
  height: 60px;
}

.banner-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img {
  overflow: hidden;
}
.card-img-top {
  position: relative;
  transition: 500ms ease 0s;
}
.card-img-top:hover {
  transform: translateY(-10px);
}

.details-app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* light and dark theme */
#light {
  background-color: white;
  color: black;
}
#dark {
  background-color: #212529;
  color: white;
}
/* large device form width */
@media (min-width: 768px) {
  .form-width {
    display: grid;
    justify-content: center;
  }
}

/* small device banner-image hide */
@media (max-width: 768px) {
  .banner-images,
  .delivery-logos {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .sm-none {
    display: none;
  }
}
