.banner-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* large device form width */
@media (min-width: 768px) {
  .form-width {
    display: grid;
    justify-content: center;
  }
}

/* small device banner-image hide */
@media (max-width: 768px) {
  .banner-images {
    display: none;
  }
}
